<!DOCTYPE html>
<html>
<body>
<h2>Contact Form </h2>
<a href="contact.erb">Contact</a> &nbsp <a href="search.erb">Search</a>
<form action="MAILTO:someone@example.com" enctype="text/plain">
Name:<br>
<input type="text" name="name" value=""><br>
E-mail:<br>
<input type="text" name="mail" value=""><br>
Message:<br>
<input type="text" name="message" value="" size="50"><br><br>

  <button onclick="myFunction()">Send</button>
  <script>
  function myFunction()
  {
  alert("Your message has been sent succesfully!");
  }
  </script>
 
<input type="reset" value="Reset">
</form>
</body>
</html>



  