<html>

<title> My Sinatra Website </title>
<body>

<h1>Welcome To My First Sinatra Application</h1> 

<h4><a href="contact.erb">Contact</a> &nbsp <a href="search.erb">Search</a></h4>

</body>

</html>