  <!DOCTYPE html>
<html>
<title> My Sinatra Website </title>
<body>
<h2> Search Form </h2>
<ul>
  <li> <a href="contact.erb">Contact</a>  &nbsp <a href="search.erb">Search</a></li>
  </ul>
  <form action='/result'>
  <input type="text" name='user' value='' />
  <input type='submit' value="Search" />

</body>
</html>



  